[defaults]
inventory = inventories/development/hosts.yaml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
result_format = yaml
pretty_results = true
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
